scopusX_journals_returned.csv
ALLDATA.RData
AuthorFirst_scopus.csv
WOS_july2020.csv
WOS_july2020_step1.csv
WOS_prelim.csv
WOS_references.csv
WOS_refined.csv
WOS_review.csv
X_Journal_author_countries.csv
Xjrnls_not_in_Scopus_Search.csv
data_OAinPW.csv
data_noOAinPW.csv
jrnls_to_search.csv
missing_1stauthor_institutions.csv
scopus.csv
scopusX.csv
wos_data.csv
