Smith_etal_cover_Revision1.docx
Resources.html
Smith_etal_APC_ms.fff
Smith_etal_APC_ms.log
Smith_etal_APC_ms.pdf
Smith_etal_APC_ms.tex
Smith_etal_APC_ms.ttt
Smith_etal_APC_ms_20210618.docx
Smith_etal_APC_ms_20210618_edits.docx
Smith_etal_Appendix_QSSv1.tex
v2_referee_comments.html
figs_final
~$una_REU_mentorship_20210311.docx
